
header{
    display: flex;
    position: fixed;
    justify-self: center;
    background-color: #79c0d8;
    justify-content: space-between;
    width: 95%;
    top: 0;
}

.navbar{
    margin-right: 20%;
}

.main-nav button{
    background: none;
    border: none;
    padding-inline: 40px;
}

button:hover{
    cursor: pointer;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.editor-container{
    flex-direction: column;
    gap: 10px;
}

.text-appearance{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 3%;
}

.select-font{
    grid-column: 1 / 4;
}

.color-picker{
    width: 100%;
}

.export-btns-container{
    justify-content: center;
    gap: 20px;
}

.text-actions{
    justify-content: center;
    gap: 20px;
}


.btn-toggle-menu {
  justify-self: end;
  border-radius: 0;
  background-color: var(--clr-primary--1);
  color: var(--clr-primary-1);
  padding: 0.3em;
  font-size: 2rem;
  font-weight: bold;
}

.main-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;

  cursor: pointer;

  transition: opacity .6s;

  body.menu-open & {
    pointer-events: auto;
    opacity: 1;
  }

  body.modal-open & {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* list item helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* layout helpers  */

.bordered-layout {
  border-inline: 1px solid #ccc;
}

@media (max-width: 840px) {


  .main-nav {
    display: grid;
    grid-template-rows: 0fr;
    align-content: end;
    align-items: end;

    position: fixed;

    background-color: #292929;
    top: 60px;
    left: 2.5%;
    width: 95%;

    overflow: hidden;

    transition: grid-template-rows .6s;

    body.menu-open & {
      grid-template-rows: 1fr;
    }
  }

  .main-nav-list {
    flex-direction: column;
    min-height: 0;

    >li {
      border-bottom: 1px solid #ccc;

      >button {
        height: 100px;
      }
    }
  }

}
