header{
    display: flex;
    justify-self: center;
    background-color: #79c0d8;
    justify-content: space-between;
    width: 95%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

canvas{
  display: flex;
  justify-self: center;
}

button:hover{
    cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
}

button{
  font-size: 40px;
  padding: 10px;
}

select{
  font-size: 40px;
}

input{
  height: 100px;
  font-size: 40px;
}