*{
  box-sizing: border-box;
  /* font-size: 16px; */
}

header{
    display: flex;
    justify-self: center;
    background-color: #79c0d8;
    justify-content: space-between;
    position: relative;
    width: 95%;
    height: 8rem;
}

body {
  background-color: rgb(59, 59, 59);
  margin: 0;
  height: 100vh;
  width: 100vw;
}


button:hover{
    cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
}

body{
  width: 100%;
}


button{
  white-space: nowrap;
  font-size: 2.5rem;
  padding: 0.625rem;
  border-radius: 1.25rem;
  background-color: aquamarine;
  color: black;
}

button:active{
  background-color: blue;
}

select{
  font-size: 2.5rem;
}

input{
  height: 6.25rem;
  font-size: 2.5rem;
}

header{
  border-radius: 1.25rem;
}