header{
    display: flex;
    justify-self: center;
    background-color: #79c0d8;
    justify-content: space-between;
    width: 95%;
}

body {
  background-color: rgb(59, 59, 59);
  margin: 0;
  height: 100vh;
  width: 100vw;
}


button:hover{
    cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

body{
  width: 97.5vw;
}

button{
  font-size: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: aquamarine;
}

button:active{
  background-color: blue;
}

select{
  font-size: 40px;
}

input{
  height: 100px;
  font-size: 40px;
}

header{
  border-radius: 20px;
}