.main-canvas {
    justify-self: center;
    position: absolute; /* Allows layering */
    z-index: 0;
    top: 0;
    left: 0;
}

.overlay-canvas {
    z-index: 1;
    position: absolute;
}

.canvas-container {
    display: flex;
    position: relative;
    width: 37.5rem;
    height:37.5rem;
    outline: 0.625rem solid #79c0d8;
}