.main-canvas {
    justify-self: center;
    position: absolute; /* Allows layering */
    z-index: 0;
    top: 0;
    left: 0;
}

.overlay-canvas {
    z-index: 1;
    position: absolute;
}

.canvas-container {
    display: flex;
    position: relative;
    width: 800px;
    height:800px
}