.editor-container{
    flex-direction: column;
    gap: 0.625rem;
    margin-left: 1.25rem;
    padding: 1.25rem;
    background-color: darkgray;
    border-radius: 2.5rem;
}

.text-appearance{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6.25rem;
    row-gap: 20px;
    column-gap: 20px;
}

.select-font{
    grid-column: 1 / 5;
    border-radius: 1.25rem;
    height: 6.25rem;
    text-align: center;
}

.color-picker{
    visibility: hidden;
}

.export-btns-container{
    justify-content: center;
    gap: 2.5rem;
}

.text-actions{
    justify-content: center;
    gap: 1.25rem;
    button{
        max-height: 100px;
    }
}

.text-input{
    width: 90%;
    align-self: center;
    border-radius: 1.25rem;
    background-color: lightgray;
    text-align: center;
    font-family: Impact, sans-serif
}

.export-btns-container a{
    padding: 0.625rem;
    width: 12.5rem;
    background: green;
}

.editor-tab{
  button{
    min-height: 6.25rem;
    min-width: 6.25rem;
  }
}