.editor-container{
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: darkgray;
    border-radius: 40px;
}

.text-appearance{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    row-gap: 10px;
    column-gap: 10px;
    button{
        place-self: center;
        width: 100%;
    }
}

.select-font{
    grid-column: 1 / 4;
    border-radius: 40px;
    text-align: center;
}

.color-picker{
    visibility: hidden;
}

.export-btns-container{
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.text-actions{
    justify-content: center;
    gap: 20px;
    
}

.text-input{
    width: 90%;
    align-self: center;
    margin: 20px;
    border-radius: 40px;
    background-color: lightgray;
    text-align: center;
    font-family: Impact, sans-serif
}

.export-btns-container a{
    padding: 10px;
    padding-inline: 60px;
    background: green;
}