
.gallery-tab{
  margin-top: 2.5rem;
  column-gap: 1.25rem;
  justify-content: center;
  justify-items: fit-content;

  row-gap: 2.5rem;
  width: 100%;
}

.gallery-img{
  cursor: pointer
}

.search-bar {
  display: flex;
  grid-column: 1 / -1; /* Spans from the first column line to the last */
  justify-content: center;
}

.rand-btn{
  height: 100%;
}

.text-search{
  height: 100%;
  margin-left: 1.25rem;
}