
.gallery-tab{
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 400px));
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;

  row-gap: 40px;
  justify-items: fit-content;
  height: 100%;
  width: 100%;
}

.gallery-img{
  cursor: pointer
}