
.gallery-tab{
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  grid-template-rows: 100px repeat(auto-fit, minmax(min-content, 400px));
  column-gap: 20px;
  justify-content: center;
  justify-items: fit-content;

  row-gap: 40px;
  width: 100%;
}

.gallery-img{
  cursor: pointer
}

.search-bar {
  display: flex;
  grid-column: 1 / -1; /* Spans from the first column line to the last */
  justify-content: center;
}

.rand-btn{
  margin: auto;
}