
.icon{
    font-size: 5rem;
    border-radius: 1.25rem;
    min-width: 0.625rem;
    color: white;
    outline: 2px solid rgb(0, 0, 0);
    text-shadow:
        -1px -1px 0 #000, /* Top-left shadow */
         1px -1px 0 #000, /* Top-right shadow */
        -1px  1px 0 #000, /* Bottom-left shadow */
         1px  1px 0 #000; /* Bottom-right shadow */
}

label{
    display: flex;
    place-content: center;
}

i{
    background-color: darkcyan;
    place-content: center;
    width: 100px;
}

.fa-trash{
    background-color: red;
}

.fa-plus{
    background-color: rgb(1, 233, 1);
}

.fa-up-down{
    background-color: rgb(0, 119, 255);
}