.navbar{
    margin-right: 20%;
}

.main-nav button{
    background: none;
    border: none;
    padding: 25px;
}

.main-nav button:hover{
  background-color: blue;
  color: white;
}

.logo{
  padding: 25px;
}

.btn-toggle-menu {
  justify-self: end;
  border-radius: 0;
  background-color: var(--clr-primary--1);
  color: var(--clr-primary-1);
  padding: 0.3em;
  font-size: 2rem;
  font-weight: bold;
}