.navbar{
    margin-right: 20%;
    
}

.main-nav button{
    background: none;
    border: none;
    padding: 50px;
    z-index: 4;
}

.main-nav button:hover{
  background-color: blue;
  color: white;
}

.logo{
  padding: 25px;
  font-size: 80px;
  font-family: Impact;
  color: blue;
}

.main-nav{
  border-radius: 20px;
}

.btn-toggle-menu {
  justify-self: end;
  border: none;
  background-color: var(--clr-primary--1);
  color: var(--clr-primary-1);
  padding: 0.3em;
  font-size: 4rem;
  font-weight: bold;
}
