@media (max-width: 1600px) {


  .main-nav {
    display: grid;
    grid-template-rows: 0fr;
    align-content: end;
    align-items: end;

    position: fixed;

    background-color: #007ec7;
    top: 145px;
    right: 0.5%;
    width: 70%;

    overflow: hidden;

    transition: grid-template-rows .6s;

    body.menu-open & {
      grid-template-rows: 1fr;
    }
  }

  .main-nav-list {
    flex-direction: column;
    min-height: 0;

    >li {
      border-bottom: 1px solid #ccc;

      >button {
        width: 100%;
        height: 100px;
      }
    }
  }

  .editor-tab:not(.hidden){
    display: flex;
    place-self: center;
    place-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  .editor-container{
    width: 100%;
  }

}

@media (min-width: 1600px) {
  .btn-toggle-menu{
    display: none;
  }
  .editor-tab:not(.hidden){
    display: flex;
    place-self: center;
    place-items: center;
    flex-direction: row;
    padding-top: 20px;
  }

  .editor-container{
    width: 800px;
    place-self: center;
    place-content: center;
    
  }
}